<div class="quizz__container">
  <div class="quizz_logo">
    <img src="assets/imgs/logo.png">
    <h3>{{title}}</h3>
  </div>

  <div *ngIf=!finished class="quizz_questions">
    <h3>{{questionSelected.question}}</h3>
  </div>

  <div *ngIf=!finished class="quizz_options">
    <button *ngFor="let opt of questionSelected.options; let i = index" (click)="playerChoose(opt.alias)" class="btn-option">
    {{opt.name}}
    </button>

  </div>

  <div *ngIf="this.finished" class="quizz_results">
    <h1>O Seu Resultado é:</h1>
    <p>{{answerSelected}}</p>
  </div>
</div>
